img {
    height: 24px;
    width: 24px;
}

li:hover {
    background-color: gainsboro;
}

.border-top:hover {
    background-color: gainsboro;
}

#sidebarMenu {
    height: 885px;
    position: relative;
}