<div id="sidebarMenu" class="d-flex flex-column flex-shrink-0 bg-light sideBarBankTeller">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
            <a routerLink="/procedure" routerLinkActive="true" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="feather feather-home icon-conf" src="/assets/img/home-icon.png" aria-hidden="true"/>
                <br>Inicio    
            </a>
        </li>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span style="width: 100%;text-align: center">OPERACIONES</span>
        </h6>
        <li>
            <a [routerLink]="['/procedure/request_list/', 0]" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="feather feather-home icon-conf" src="/assets/img/requests.png" aria-hidden="true"/>
                <br>Todas las solicitudes    
            </a>
        </li>
        <li>
            <a [routerLink]="['/procedure/request_list/', 6]" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" >
                <img class="feather feather-home icon-conf" src="/assets/img/bank-user.png" aria-hidden="true"/>
                <br>Solicitud de cuenta
            </a>
        </li>
        <li>
            <a [routerLink]="['/procedure/request_list/', 3]" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="feather feather-home icon-conf" src="/assets/img/card-req.png" aria-hidden="true"/>
                <br>Solicitud de tarjeta
            </a>
        </li>
        <li>
            <a [routerLink]="['/procedure/request_list/', 5]" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right">
                <img class="feather feather-home icon-conf" src="/assets/img/card-req.png" aria-hidden="true"/>
                <br>Solicitud de préstamo
            </a>
        </li>
    </ul>
    <div class="border-top">
      <a routerLink="/logout" routerLinkActive="true" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none">
        <img class="feather feather-home icon-conf" src="/assets/img/sign-out.png" aria-hidden="true"/>
      </a>
    </div>
  </div>
