<body class="text-center">
    <div class="grid-container">
        <div class="grid-item">
            <div class="left-card">
                <img src="/assets/img/background.jpg">
            </div>
        </div>
        <div class="grid-item">
            <div class="form-signin right-card">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <h1 class="h3 mb-3 fw-normal">Sign in</h1>
                        <div>
                            <label class="lbl-pos" for="username">Username</label>
                            <input id="username" class="form-control" type="text" placeholder="Username" formControlName="username" required>
                        </div>
                        <div>
                            <label class="lbl-pos" for="password">Password</label>
                            <input id="password" class="form-control" type="password" placeholder="Password" formControlName="password" required>
                        </div>
                        <div>
                            <button class="fg-button btn btn-link" type="button">forgot password?</button>
                        </div>
                        <button class="w-100 btn btn-large btn-primary" type="submit">Sign in</button>
                </form>
                <br>
                <p class="login-callout"> 
                    Eres nuevo? 
                    <a routerLink="/create" routerLinkActive="active">crea una cuenta</a>
                    .
                </p>
            </div>
        </div>
    </div>
    
    <footer class="footer text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2021 Copyright: Analisis y diseño 1
        </div>
        <!-- Copyright -->
      </footer>
</body>
