<div class="card">
    <div class="card-body">
        <h4 class="mb-3 text-center">Recuperación de contraseña</h4>
        <form class="needs-validation" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate="">
            <div class="row g-3">
                <div class="col-12">
                    <label for="form-label">
                        <strong>Ingrese el usuario que se encuentra ligado a su cuenta y se le enviará una nueva contraseña a su correo electronico</strong>
                    </label>
                    <input formControlName="username" class="form-control" type="text" 
                    placeholder="Ingrese su usuario" [ngClass]="{ 'is-invalid': submitted && f.username.errors}">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
                        <div *ngIf="f.username.errors.required">Se requiere de un usuario.</div>
                    </div>
                </div>
                <button class="btn btn-primary btn-md" type="submit">Aceptar</button>
            </div>
        </form>
        
        <div *ngIf="IsSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
            Se ha enviado una <strong>nueva contraseña</strong> con éxito!
            Por favor, revise su bandeja de correo. 
            <button type="button" class="btn-close" (click)="redirectToMainPage()"  data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Error {{serverResponseObject.status}}</h4>
            {{serverResponseObject.error.information_message}} 
            <button type="button" class="btn-close" (click)="resetValues()" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<app-footer></app-footer>