<body>
    <div class="container-fluid">
        <div class="row">
            
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="d-flex flex-column flex-shrink-0 position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link-main active" aria-current="page" href="/bank_teller">
                                <img class="feather feather-home icon-conf" src="/assets/img/home-icon.png" aria-hidden="true"/>
                                Dashboard
                            </a>
                        </li>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Operaciones</span>
                        </h6>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./deposit" routerLinkActive="true">
                                <img class="feather feather-home icon-conf" src="/assets/img/deposit.png" aria-hidden="true"/>
                                Deposito
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./withdrawal" routerLinkActive="true">
                                <img class="feather feather-home icon-conf" src="/assets/img/whithdrawal.png" aria-hidden="true"/>
                                Retiro
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./transfer" routerLinkActive="true">
                                <img class="feather feather-home icon-conf" src="/assets/img/transference.png" aria-hidden="true"/>
                                Transferencia
                            </a>
                        </li>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Pagos</span>
                        </h6>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./credit_card_payment" routerLinkActive="true">
                                <img class="feather feather-home icon-conf" src="/assets/img/credit-card.png" aria-hidden="true"/>
                                Tarjeta de Credito
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="./loan_payment" routerLinkActive="true">
                                <img class="feather feather-home icon-conf" src="/assets/img/loan.png" aria-hidden="true"/>
                                Prestamo
                            </a>
                        </li>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Otros</span>
                        </h6>
                        <li class="nav-item">
                            <a class="nav-link-main active" aria-current="page" routerLink="/logout" routerLinkActive="active">
                                <img class="feather feather-home icon-conf" src="/assets/img/sign-out.png" aria-hidden="true"/>
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                
            </main>

        </div>
    </div>
</body>
<router-outlet></router-outlet>
