<div class="card">
    <div class="card-body">
        <h4 class="mb-3 text-center">Solicitud de cuenta bancaria</h4>
        <form class="needs-validation" [formGroup]="requestForm" (ngSubmit)="onSubmit()" novalidate="">
            <div class="row g-3">
                <div class="col-12">
                    <label for="form-label">
                        <strong>Seleccione el tipo de cuenta del que desee realizar una solicitud de apertura</strong>
                    </label>
                    <select formControlName="accountType" class="form-select" aria-label="select" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors}">
                        <option value="">Seleccione una opción...</option>
                        <option value="1">Cuenta de ahorro</option>
                        <option value="2">Cuenta monetaria</option>
                    </select>
                    <div *ngIf="submitted && f.accountType.errors" class="invalid-feedback" >
                        <div *ngIf="f.accountType.errors.required">Se requiere que seleccione un tipo de cuenta bancaria.</div>
                    </div>
                </div>
                <button class="btn btn-primary btn-md" type="submit">Aceptar</button>
            </div>
        </form>
        
        <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
            Se ha enviado una <strong>nueva solicitud de apertura de cuenta</strong> con éxito!
            Por favor, espere a que sea autorizada o denegada su solicitud. 
            <button type="button" class="btn-close" (click)="redirectToDashboard()" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Error {{serverResponseObject.status}}</h4>
            {{serverResponseObject.error.information_message}} 
            <button type="button" class="btn-close" (click)="redirectToDashboard()" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>